# Code owners for the Hey repository

# Default owner
* @yoginth

# Applications
/apps/api/ @bigint @leopardracer
/apps/web/ @bigint @Alexhandru @egemenkus @cypherpepe

# Packages
/packages/data/ @bigint
/packages/helpers/ @bigint
/packages/indexer/ @bigint
/packages/types/ @bigint

# Continuous integration workflows
.github/workflows/ @bigint

# Editor configuration
.vscode/ @rnkrtt

# Documentation
README.md @eeemmmmmm
